* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.App {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
}

form {
  display: block;
  position: relative;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-color: #666;
}
form .form-inner {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2 {
  color: #666;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  color: #666;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.form-inner .form-group:focus-within label {
  color: #000;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.5s;
}
form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"] {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border: 8px;
  border-radius: 4px;
  background-color: #666;
  background-size: 200%;
  background-position: 0.5s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner .forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

form .form-inner .register {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
Link {
  text-decoration: none;
}
